version: 2
updates:
  - package-ecosystem: "docker"
    directories:
      - "/romm"
      - "/profilarr"
      - "/profilarr-v1"
      - "/cleanuparr"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "ci"
