# This is the workflow to automatically approve and merge dependabot PRs
#
name: Dependabot automation

on:
  # Allows you to call this workflow from other workflows
  workflow_call:
    secrets:
      GH_TOKEN:
        required: false

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}

    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2.5.0
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
